* {margin: 0; padding: 0; box-sizing: border-box;}

header {width: 100%; height: 10%; position: fixed; background: black; z-index: 100; align-items: center; display: flex; justify-content: space-between;}

nav ul {display: flex; align-items: center;}

nav li {margin-right: 1rem;}

nav a {color: white; text-decoration: none; margin-right: 1rem;}

header div a img {width: 70%; margin-left: 1rem;}

header h1 {color: white; padding-right: 70%;}

body { background-image:url(./image.png); 
    background-size:cover; 
    background-repeat: no-repeat;}

#juegos {padding: 10%;}

#formulario {padding: 10%;}

#formulario {text-align: center;}

#formulario form {padding-top: 3%;}

#formulario form p {padding: 1%;}

footer {position: fixed; width: 100%;}


